   body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

.top {
  text-decoration: none;
  font-size: 20px;
  transition: all 200ms ease;
}

.top:hover {
  font-size: 30px;
  color: red;
}

#logo {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 40px;
  font-weight: lighter;
  color: #FCA311;
  transition: 200ms ease;
}



#cover {
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("https://static.pexels.com/photos/349609/pexels-photo-349609.jpeg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 72px;
  color: #FFF;
  padding: 20px 10px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn {
  background-color: rgb(255, 161, 54);
  color: #FFF;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  padding: 14px;
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.food {
  display: inline-block;
  margin: 0 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.food img {
  width: 100%;
}

.blue {
  color: #14213D !important;
}

.footer {
  display: block;
  width: 100%;
  height: 70px;
  background: white;
  position: relative;
}

.social {
  height: 50px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#social img{
  height: 50px;
  margin-bottom: 20px;
}
